{% extends "main/base.html" %}

{% load static %}
{% block import %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/part_symptoms.css' %}" />
{% endblock %}

{% block left_content %}
<!-- Introduction -->
<div class="row">
    <div class="col-12 col-md-9">
        <table class="table table-bordered table-hover">
            <colgroup>
                <col style="width: 90px;">
                <col>
            </colgroup>
            <tr>
                <td rowspan="3" class="table-icon"><img
                        src="https://prod-df-public.s3.amazonaws.com/uploads/medication_subcategory_master/icon/2/icon_face.png" />
                </td>
                <td>顔・頭</td>
            </tr>
            <tr>
                <td>かお・あたま</td>
            </tr>
            <tr>
                <td>ĐẦU-MẶT</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <!-- Categories -->
    <div class="col-12 col-md-12">
        <p>Hãy chọn một triệu chứng mà bạn gặp phải và tìm hiểu thêm về các bệnh có liên quan đến triệu chứng đó</p>
    </div>
</div>
<!-- Symptoms by part -->
<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h3 class="symptom-group"
                    style="background: url(https://prod-df-public.s3.amazonaws.com/uploads/medication_subcategory_master/icon/2/icon_face.png) no-repeat left center/20px 20px">
                    <strong>頭</strong>
                </h3>
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Collapsible Group Item #2
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Collapsible Group Item #3
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

</div>
<di class="row">
    <div class="col-md-2 col-3">
        <h3>
            <strong>頭</strong>
            <img
                src="https://prod-df-public.s3.amazonaws.com/uploads/medication_subcategory_master/icon/2/icon_face.png">
        </h3>

    </div>
    <div class="col-md-10 col-9 list-item-right">

        <div class="row">
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
            <div class="col-md-3 col-6"><span class="list-item"><a href="#">立ちくらみ</a></span></div>
        </div>
    </div>
</di>
{% endblock %}

{% block right_content %}
{% endblock %}