{% extends "main/base.html" %}

{% load static %}
{% block import %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/part_symptoms.css' %}" />
{% endblock %}

{% block left_content %}
<!-- Introduction -->
<div class="row">
    <div class="col-12 col-md-9 no-padding">
        <table class="table table-bordered table-hover">
            <colgroup>
                <col style="width: 90px;">
                <col>
            </colgroup>
            <tr>
                <td rowspan="3" class="table-icon"><img
                        src="https://prod-df-public.s3.amazonaws.com/uploads/medication_subcategory_master/icon/2/icon_face.png" />
                </td>
                <td>顔・頭</td>
            </tr>
            <tr>
                <td>かお・あたま</td>
            </tr>
            <tr>
                <td>ĐẦU-MẶT</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <!-- Categories -->
    <div class="col-12 col-md-12 no-padding">
        <p>Hãy chọn một triệu chứng mà bạn gặp phải và tìm hiểu thêm về các bệnh có liên quan đến triệu chứng đó</p>
    </div>
</div>
<!-- Symptoms by part -->
{% for key, values in symptoms.items %}
{% if key > 0 and key < 3%}
<div id="accordion" class="row">
    <div class="card full-width">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse_accordion_{{forloop.counter}}">
                {% with values.all|first as obj %}
                <h3 class="symptom-group" style="background: url({{obj.part.img_url}}) no-repeat left center/20px 20px">
                    <strong>{{obj.part.name_vn}}</strong>
                </h3>
                {% endwith %}
            </a>
        </div>
        <div id="collapse_accordion_{{forloop.counter}}" class="collapse {% if forloop.counter == 1 %}show{% endif %}"
            data-parent="#accordion">
            <div class="card-body">
                <div class="row padding-lr-25px">
                    {% for item in values %}
                    <div class="col-md-3 col-6 div-list-item"><span class="list-item"><a
                                href="#">{{item.name_vn}}</a></span></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block right_content %}
{% endblock %}