.search-medication {
    padding: 35px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-with-margin {
    margin-top: 57px;
    padding-top: 20px;
}

.background-top {
    /*background: #fef6e6;*/
    background: #e9efd9;
}

.margin-top-15px {
    margin-top: 15px;
}

.clear-magin-bottom {
    margin-bottom: 0px !important;
}