.no-padding-right {
    padding-right: 0px;
    width: 100%;
}

.magin-top-5px {
    margin-top: 5px;
}

.padding-5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.full-width {
    width: 100%;
}

.card-link h4:hover {
    color: #17a2b8 !important;
}

a.normal-link {
    color: black;
}

a.normal-link:hover {
    text-decoration: none;
    color: #58b677;
}